.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
R/.Rhistory
loxcodeR.Rproj
src/cassutil.o
src/decode.o
src/dist.o
src/edlib.o
src/loxcoder.dll
src/loxcoder.so
src/map_markov.o
src/pack.o
src/RcppExports.o
